.git/*
### vim temp files
*.swp
### PyCharm
.idea
### MacOS
.DS_Store
# project settings for sublime
*.sublime-project
*.sublime-workspace
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
### Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover
/.cache/
/.pytest_cache/

### Envirement dirs
.direnv
.envrc
env
venv
### Current project
/app/static/img/
/data/
*.sqlite
*.log
*.log*
### Distribution / packaging
.Python
# build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
